<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <a href="/cricket/all-fixtures">All fixtures</a><Br>
        <table>
            <tr>
                <th>ODI</th>
                <th>T20</th>
                <th>T20I</th>
            </tr>
            <tr>
                <td><a href="/cricket/odi/mens-result">Men</a><br><a href="/cricket/odi/womens-result">Women</a></td>
                <td><a href="/cricket/t20/mens-result">Men</a><br><a href="/cricket/t20/womens-result">Women</a></td>
                <td><a href="/cricket/t20i/mens-result">Men</a><br><a href="/cricket/t20i/womens-result">Women</a></td>
            </tr>
        </table>
</body>
</html>